#body{
   background-color: rgb(221, 221, 221);
   margin: 0px;
   padding: 0px;
}

.header{
   background-color: #4267B2;
   padding: 8px;
   margin-top: -20px;
   
    
}

.fb-logo{
   font-size: 35px;
   font-family: 'Hachi Maru Pop', cursive;
   font-family: 'Noto Serif', serif;
   font-family: 'Poppins', sans-serif;

   font-style: initial;
   display: inline-block;
   color: white;
   font-weight: 850;
   margin-left: 250px;
   margin-top: 15px;
  
}

.signup{
   width: 75px;
   box-shadow: 2px;
   background-color: #42b72a;
   color: white;
   font-weight: 700;
   padding: 4px 0px;
   outline: none;
   border: none;
   border-radius: 1px;
}

h3{
   padding-top: 35px; font-family: arial; font-weight: 700; font-size: 30px; margin-bottom: 15px;
}

.midle{
   height: 444px;
   width: 40%;
   margin: 160px auto;
   background-color: rgb(255, 253, 253);
   align-items: center;
   justify-content: center;
   text-align: center;
   box-shadow: 4px 5px 5px 0px rgba(136,136,136,0.64);
   border-radius: 2px;
}

.input2{
   width:50%;
   border: 1px solid #aaa;
   border-radius:5px ;
   outline: none;
   box-sizing: border-box;
   padding: 14px 20px;
   padding-left: 8px;
   transition:0.4s;
}

.input2:focus{
   border-color: dodgerblue;
   box-shadow: 0 0 4px 0 dodgerblue;
}
.submitbuttton{
   background-color: #4267B2;
   padding:8px 0px;
   font-size: 22px;
   font-family: arial;
   width: 50%;
   margin: 0px auto;
   outline: none;
   border: 0.5px solid black;
   border-radius: 5px;
   color: white;
   font-weight: 800;
}
.submitbuttton:hover{
   background-color: #517ed8;
   color: black;
   border: none;
   border-bottom: 4px solid rgb(245, 85, 85);
   transition: 0.9s;
   transform: scale(1.04);
}

a h4 {
   font-weight: 500;
   font-style: italic;
   font-family: 'Noto Serif', serif;
   font-size: 15px;
   margin-top: 15px;
}

.hrline{
   width: 90%;
   height: 2px;
   border-bottom: 1.8px solid #dadde1;
   margin: 20px auto;
}

.new-account-div{
   display:inline-block;
}

.new-account{
   text-decoration: none;
   color: white;
   background-color:#42b72a;
   font-family: inherit;
   
   border: none;
   border-radius: 6px;
   font-size: 20px;
   
   padding: 12px 48px;
   /* margin:8px; */
   display: block;

}

.new-account:hover{
   background-color: #44d826;
   transition: 0.4s;
}


